@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat|Open+Sans:400,600,700|Playfair+Display&display=swap');

:root{
    --primary: rgb(194, 178, 126);
    --black: #000104;
}

*{
    outline: none!important;
}

body{
    margin: 0;
    padding: 0;
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    color: #2d2d2d;
}


.padding10-bottom {
    padding-bottom: 10px;
}

.padding10-top {
    padding-top: 10px;
}

.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

a.btn{
    font-weight: 700;
}

.btn-dark{
    background: #2d2d2d!important;
    color: #c2b27e!important;
}
.btn-default{
    background: #eeeeee;
}
.btn-success{
    background: #36b16d;
}
.btn-dark:hover{
    color: #c2b27e!important;
}

.btn-primary{
    background: #c2b27e!important;
    color: #2d2d2d;
    font-weight: 700;
    border: #c2b27e;
}
.btn-primary:hover{
    background: #DDCB90!important;
    color: #2d2d2d;
    font-weight: 700;
    border: #c2b27e;
}

.btn-messenger{
    background: #0084FF;
    color: #fff;
    font-weight: bold;
}

.bg-dark{
    background: var(--black)!important;
}

.buyBtn:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(194, 178, 126, .9);
}

.text-primary{
    color: var(--primary)!important;
}
.v-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-medium{
    font-size: 2rem;
}
.text-large{
    font-size: 3rem;
}
ul{
    line-height: 1.5;
    list-style-image: url(../img/circle-marker.png);
    margin-bottom: 0;
    padding-left: 22px;
}

ul li{
    color: #fff;
    padding-bottom: 6px;
    list-style-type: none;
    margin-bottom: 6px;
}
.amButtonShadowN1 {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
.amBTN_b_1 {
    border: 1px solid rgba(0,0,0,0.2);
}
.amButtonCorner10 {
    border-radius: 10px;
}
.amBtnHP_25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.amBtnVP_10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.am1pxLetterSpacing {
    letter-spacing: 1px;
}

.buyBtn{
    background: var(--primary);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border-radius: 12px;
    transform: scale(1);
    transition: all ease .5s;
    box-shadow: none;
}
header{
    padding-top: 30px;
    background: url("https://images.unsplash.com/photo-1544616639-8d0bf4c2f35a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80") no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

.sub-heading{
    display: block;
    border: 2px solid var(--primary);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.header2{
    background-size: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}
.header2 p{
    font-size: 19px;
}
.header2 .sub-heading{
    display: block;
    border: 1px solid var(--primary);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/*card*/
.card{
    border: none;
    border-radius: 20px;
}

.profile_widget{
    margin-top: -60px;
    margin-bottom: 30px;
}
.profile_widget .card{
    border-radius: 0;
    box-shadow: 2px 2px 20px 6px rgba(126, 126, 126, 0.2);
}

/*profile-section*/
.profile_section{
    background: url("https://images.unsplash.com/photo-1544616639-8d0bf4c2f35a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80") no-repeat fixed center center;
    background-size: cover;
}

.profile_section .profile_section_info h3{
    font-size: 2.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.profile_section .profile_section_info p{
    font-size: 18px;
    line-height: 25.2px;
}


/*modal*/
.close {
    opacity: 1;
}
.modal .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff0;
    background-clip: padding-box;
    border: none;
    border-radius: .3rem;
    outline: 0;
}

.modal-backdrop.show {
    opacity: .9;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 2.5rem;
    overflow: hidden;
    font-size: 1rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #c2b27e;
}